{% extends "base.html.twig" %}


    {% block stylesheets %}
    {% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <p class="h1 label label-info font-weight-bolder ml-5">hello world!</p>
    </div>
{% endblock %}